<robot name="robopi"
       xmlns:xacro="http://www.ros.org/wiki/xacro"
       xmlns:xi="http://www.w3.org/2001/XInclude">
    <xacro:include filename="$(find robopi)/urdf/robopi.urdf.xacro" />
    <xacro:include filename="chassis_gazebo.urdf.xacro" />
    <xacro:include filename="wheels_gazebo.urdf.xacro" />
    <xacro:include filename="sonar_gazebo.urdf.xacro" />
    <xacro:include filename="camera.urdf.xacro" />



</robot>