<launch>

    <arg name="model" default="$(find robopi_sim)/urdf/robopi_sim.urdf.xacro"/>
    <arg name="rvizconfig" default="$(find robopi)/config/rviz.rviz"/>

    <!-- Launch gazebo -->
    <include file="$(find robopi_sim)/launch/gazebo.launch">
        <arg name="model" value="$(arg model)"/>
    </include>


    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>


    <include file="$(find robopi_low_level_control)/launch/low_level_control.launch">
        <arg name="start_hardware_interface" value="false"/>
    </include>

    <include file="$(find robopi)/launch/map.launch"/>-->


    <!-- convert joint states to TF transforms for rviz, etc -->
    <param name="robot_description" command="rosrun xacro xacro $(arg model)"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
          respawn="false" output="screen">
    </node>


    <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
        <param name="default_topic" value="/robopi/diff_drive_controller/cmd_vel"/>
    </node>

</launch>

 


